html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

::before,
::after,
* {
  @include box-sizing();
}

:focus {
  outline: 2pt dashed $mine-shaft;
}