.input-group {
  margin: 10pt 0;
}

.login-input {
  width: 100%;
  padding: 10pt;
  margin: 5pt 0;
  font-size: 1rem;
  border: 1pt solid $cardinal;
  @include border-radius(20pt);
  @include box-shadow(0 10pt 15pt -15pt $cardinal);

  &:focus {
    outline: none;
  }
}