$white: rgba(255, 255, 255, 1);
$concrete: rgba(242, 242, 242, 1);
$gallery: rgba(240, 240, 240, 1);
$silver: rgba(199, 199, 199, 1);
$gray: rgba(135, 135, 135, 1);
$cardinal: rgba(205, 35, 43, 1);
$denim: rgba(21, 130, 188, 1);
$matisse: rgba(21, 100, 142, 1);
$eden: rgba(16, 68, 96, 1);
$mine-shaft: rgba(41, 41, 41, 1);
